<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://emris.cc" class="portfolio-box">
                    <img src="img/portfolio/emris.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Management and Development
                            </div>
                            <div class="project-name">
                                EMRIS CREATIVE CORE
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="whitepine.github.io" class="portfolio-box">
                    <img src="img/portfolio/pine.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Open Source Policy Development
                            </div>
                            <div class="project-name">
                                White Pine Network Protocl
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/crown.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Consulting
                            </div>
                            <div class="project-name">
                                StevieCrowne
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.imdb.com/title/tt2258724/" class="portfolio-box">
                    <img src="img/portfolio/perfect.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Stunts/Preformance
                            </div>
                            <div class="project-name">
                                The Perfect PickUp
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=eZoKxSZmrGs&feature=youtu.be" class="portfolio-box">
                    <img src="img/portfolio/modern.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Stunts/Preformance
                            </div>
                            <div class="project-name">
                                Modern Day Poets - This City
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://angrysasquatchpizza.com" class="portfolio-box">
                    <img src="img/portfolio/crew.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Writing/Development
                            </div>
                            <div class="project-name">
                                ./MIDAS
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>


  <script>
    $(function() {
      var wall = new freewall("#container-fluid");
      wall.fitWidth();
    });
  </script>


</section>
