<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Abilities</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Software Development</h3>
                    <p class="text-muted">I have designed/developed prototypes for several complex social networks. My strongest role is
                    that of solutions architect. ROR and JS</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Collective Intelligence</h3>
                    <p class="text-muted">Customized analysis of group intelligence within your organization.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Open Source Policy Developments</h3>
                    <p class="text-muted"> I will take your existing company policies or develop new ones and then opensource them to 
                    invite collaboration online. Long term support of the project is available.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Agile Project Management</h3>
                    <p class="text-muted">Agile project managament is a staple. I will lead your project remotely.</p>
                </div>
            </div>
 </div>  

        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Research and Development</h3>
                    <p class="text-muted">Rather straight forward.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Concept Shaping</h3>
                    <p class="text-muted">I will take an existing idea and shape it to improve its preformanced based on predefined metrics.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Company Development</h3>
                    <p class="text-muted">Policy development, Vision Statement, Narrative Development and New Market Research</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Strategic Planning</h3>
                    <p class="text-muted">I will design a strategy for a situation your choose.</p>
                </div>
            </div>
            
        </div>
 
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Mentorship</h3>
                    <p class="text-muted">This one is rather time dependant but I will work with you in order to help you find your groove.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Boardroom Support</h3>
                    <p class="text-muted">I will come to your board meeting and ask questions.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Creative Development</h3>
                    <p class="text-muted"> I will assist on the creative development of a current project.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Sprint Planning</h3>
                    <p class="text-muted">I will come into the office or work remotely with your team to design, prioratize and 
                    assign a collection of stories for you current sprint.</p>
                </div>
            </div>
            
    </div>

 
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Pitching</h3>
                    <p class="text-muted">I have designed/developed prototypes several complex social networks. My strongest role is
                    that of solutions architect.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Public Speaking/Preformance</h3>
                    <p class="text-muted">Film, Interviews, Public Speaking and Stunt Work. Please contact for more information.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Negotiation Support</h3>
                    <p class="text-muted">I will make myself available for contact during the negotiations in order to provide additional 
                    strategies and fresh set of eyes on the situation. This may be combined with a custom research project.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>New Concepts</h3>
                    <p class="text-muted">Kind of my speciality. If you need a completely new concept I will find one, or your money back.</p>
                </div>
            </div>
            
    </div>

 
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Crisis Management</h3>
                    <p class="text-muted"> This is a combination of personal counciling, strategic planning and interdisciplinacy research.  </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Link Analysis</h3>
                    <p class="text-muted">Who is who in the zoo. I will analyize an network of your choosing then I will provide a 
                    report/consultation on patters and relationships.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Intelligence Summary</h3>
                    <p class="text-muted">INTSUM for short. I will examine a situation or topic and provide a comprehensive summary of the situation.
                    Optional on site briefings are available.</p>
                </div>
            </div>
 
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Story Boarding/Skeleton Design</h3>
                    <p class="text-muted">I will take your entire concept and turn it into a functional brief for the medium of your choosing.</p>
                </div>
            </div>

    </div>
</section>
